<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/project/create" method="post" enctype="multipart/form-data">
        <input type="file" name="cover" />
        <div><span>Name : </span><input type="text" name="projectName" ></div>
        <div><span>Description : </span><input type="text" name="description" ></div>
        <div><span>Creator Email : </span><input type="text" name="creatorEmail" ></div>
        <button type="submit">Create Project</button>
      </form>
</body>
</html>